html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin-top: 10%;
    color: #333;
    background-color: #f4f4f4;
}

nav {
    position: fixed;
    align-items: center;
    width: 98%;
    top: 4%;
    display: flex;
    justify-content: space-evenly;
    background-color: #553b4a;
    color: white;
    font-size: 150%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    z-index: 100;
}
nav a {
    color: #f4f4f4;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a:hover {
    color: rgb(229, 179, 86);
}

h1{
    font-size: 250%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #553b4a;
    text-align: center;
}

h2{
    font-size: 180%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #553b4a;
    text-align: center;
}

h3 {
    font-size: 120%;
    font-family:'Courier New';
    font-weight: bold;
    color: #553b4a;
    text-align: center;
}

#home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    border-color: #553b4a;
    border-width: .4;
    padding: 2%;
    align-content: center;
}
h1:hover{
    animation: fade-in 1s ease-in-out forwards;
}
@keyframes fade-in {
    0% { opacity: 0.3; }
    100% { opacity: 1; }
}

#profilepic{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: 3px solid #553b4a;
    cursor: pointer;
}
#profilepic:hover{
    opacity: 0.8;
}
#profilepic:active{
    opacity: 0.6;
}

#about, #education, #achievments, #skills{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    border-color: #553b4a;
    border-width: .4;
    padding: 2%;
    align-content: center;
    font-size: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

/* BEGIN: Mode switch slider */
.mode-switch {
    position: fixed;
    display: flex;
}

.mode-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.mode-switch label {
    position: fixed;
    display: flex;
    height: 7%;
    width: 5%;
    justify-content: space-evenly;
    align-items: center;
    color: #f4f4f4;
    cursor: pointer;
    top: 20%;
    left: 93%;
    background-color: #553b4a;
    transition: .4s;
    border-radius: 50%;
}
.mode-switch input:checked + label {
    background-color: #3bb552;
}
.mode-switch input:hover + label{
    color: rgb(229, 179, 86);
}

/* BEGIN: Blog section */
#blog-section{
    display: flex;
    flex-direction: row;
    width:90%;
    justify-content: space-evenly;
    padding: 2%;
    font-size: 90%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.blog{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
    border-color: #553b4a;
    border-width: .3;
    padding : 2%;
    align-content: center;
    font-size: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.blog button{
    background-color: #553b4a;
    color: #f4f4f4;
    border-color: #3bb552;
    padding: 2% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2% 2%;
    cursor: pointer;
    border-radius: 15%;
}

#resume{
    text-align: center;
    padding: 2%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#resume a{
    color:#3bb552;
    text-decoration: none;
    text-align: center;
}

#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#socials h5 {
    margin: 10px 0;
}

#socials a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Dark Mode */
body.dark-mode {
    /* Dark mode colors */
    margin-top: 10%;
    color: #f4f4f4;
    background-color: #333;
}
.dark-mode .main_heading {
    color:rgb(229, 179, 86);
}
.dark-mode h2 {
    color:rgb(229, 179, 86);
}
.dark-mode nav {
    background-color: rgb(229, 179, 86);
    color: #333;
}
.dark-mode nav a {
    color: #f4f4f4;
}
.dark-mode nav a:hover {
    color: #553b4a;
}
.dark-mode h3 {
    color: green;
}
.dark-mode button {
    background-color: #3bb552;
    color: #553b4a;
    border-color: rgb(229, 179, 86);
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    body {
        margin-top: 25%;
    }
    body.dark-mode {
        margin-top: 25%;
    }

    nav {
        font-size: 80%;
    }

    h1 {
        margin-top: 13%;
        font-size: 150%;
    }
    #about-heading, #education-heading, #achievments-heading, #skills-heading, #blog-section-heading {
       margin-top: 15%;
    }
    #home {
        margin-top: 10%;   
    }

    #profilepic {
        width: 35%;
        height: 35%;
    }

    #about, #education, #achievements, #skills {
        width: 80%;
    }
    #blog-section {
        width: 100%;
    }
    .mode-switch label {
        height: 4%;
        width: 13%;
        top: 12%;
        left: 80%;
    }
    #socials {
        align-items: flex-start;
    }
}
