body {
    /* Light mode colors */
    color: #333;
    background-color: #f4f4f4;
}

body.dark-mode {
    /* Dark mode colors */
    color: #f4f4f4;
    background-color: #333;
}

nav{
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    background-color: #553b4a;
    color: white;
    font-size: 150%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    z-index: 100;
}

nav a:hover{
    background-color: #dc843c;
    color: #f4f4f4;
    text-decoration:wavy;
}

.dark-mode nav{
    display:flex;
    justify-content: space-evenly;
    background-color: #dc843c;
    color: #553b4a;
    font-size: 150%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    border-bottom: 1% solid white;
}

#main_heading{
    font-size: 250%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #553b4a;
    text-align: center;
}

.top_heading{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    align-items: left;
    border-color: #553b4a;
    border-width: .4;
    padding-left: 2%;
    align-content: start;
}

#sub_heading{
    font-size: 150%;
    font-weight: bold;
    color: #553b4a;
    text-align: center;
}

#profilepic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #553b4a;
}
#profilepic:hover{
    opacity: 0.7;
}

.about, .education, .achievements, .skills, .projects, .contact{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    border-color: #553b4a;
    border-width: .4;
    padding-top: 4%;
    padding-left: 2%;
    align-content: start;
    font-size: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

.switch {
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    width: 5%;
    height: 5%;
}

.switch input { 
    opacity: 1;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    border-radius: 32%;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(62, 62, 62);
    transition: .4s;
}

.slider:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 80%;
    width: 50%;
    left: 4%;
    bottom: 10%;
    background-color: rgb(156, 79, 159);
    transition: .4s;
}

input:checked + .slider {
    color: black;
    background-color: rgb(218, 218, 218);
}

input:checked + .slider:before {
    transform: translateX(85%);
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .switch {
        width: 30px;
        height: 17px;
    }

    .slider:before {
        height: 13px;
        width: 13px;
    }

    input:checked + .slider:before {
        transform: translateX(13px);
    }
}